.DS_Store
*.cache
tmp

Local
Cache
Settings
Index
Installed\ Packages

Packages/User/Package\ Control.last-run
Packages/User/Package\ Control.ca-list
Packages/User/Package\ Control.ca-certs
Packages/User/Package\ Control.ca-bundle
Packages/User/Package\ Control.system-ca-bundle
Packages/User/Package\ Control.cache

